<nav class="nav nav-pills">
    <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">
        Home
    </a>
    <a class="nav-item nav-link" routerLink="items" routerLinkActive="active">
        Items
    </a>
    <a class="nav-item nav-link" routerLink="workers" routerLinkActive="active">
        Workers
    </a>
    <a class="nav-item nav-link" routerLink="register" routerLinkActive="active">
        Register form
    </a>
    <a class="nav-item nav-link" routerLink="profile" routerLinkActive="active">
        Profile
    </a>
</nav>
