<div class="row">
    <div class="col-sm-3">
        <app-search [controls]="searchConfig.controls" (searchChange)="updateFilters($event)"></app-search>
    </div>
    <div class="col-sm-9">
        <div class="card card-body">
            <div class="row">
                <div class="col">
                    <modal-add *ngIf="statusService.access | async" [newItem]="itemAction"></modal-add>
                    <div class="badge badge-success ml-1">items: {{items?.length}} / {{total}}</div>
                </div>
                <div class="col">
                    <ngb-pagination [collectionSize]="total" [maxSize]="5" size="sm"
                        [pageSize]="filters.value.itemsPerPage" [rotate]="true"
                        (pageChange)="updateFilters({currentPage: $event || 1})" [page]="filters.value.currentPage">
                    </ngb-pagination>
                </div>
            </div>
            <app-datagrid [data]="items" [config]="dataGridConfig" [itemAction]="itemAction">
            </app-datagrid>
        </div>
    </div>
</div>
